<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="CompanyName" value="Full Stack Developer"/>
		<add key="Address" value="INDIA - BHARAT"/>
		<add key="Phone" value="1234567890"/>
		<add key="Email" value="India@gmail.com"/>
		<add key="Website" value="India.com"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlConStr" connectionString="Data Source=(localdb)\MSSQLLocalDB; Database=CSDB;"
		providerName="System.Data.SqlClient"/>
		<add name="OracleConStr" connectionString="Data Source=Server;User Id=Scott;Password=tiger"
	   providerName="System.Data.OracleClient"/>
		<add name="ExcelConStr" connectionString="Provider=Microsoft.Ace.Oledb.12.0;DataSource=E:\ExcelDocs\School.xls;Extended Properties=Excel 8.0" providerName="System.Data.Oledb"/>
	</connectionStrings>
</configuration>